coverage
.nyc_output/
node_modules/
junit
dist
tmp
logs
.DS_Store
test-results.xml
.env
.vscode
tokens.json
*.env
.auth.json
.env_word2md
.hlx-1d.json
document.docx
document.md
.convert
.editorconfig
